@import './base.css';

#app {
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  /* board frame  */
.game_wrapper {
  text-align: center;
}

  /* board  */
.grid {
  background-image: url('./icons_board_wood_01.png');
  background-size: contain;
  /* oder eine spezifische Größe wie 100% 100% */
  background-repeat: no-repeat;
  /* oder repeat, falls gewünscht */
  background-position: center;
  /* Zentriert das Bild */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  padding: 0px;
  width: 100%;  /* maybe change to 80/90% later...  */
  height: 100%;
}

  /* games  */
.cell {
  display: grid;
  grid-template-areas:
    "area area area"
    "area area area"
    "area area area";
  grid-gap: 0px;
  padding: 0px;
  border: 2.5px solid rgba(0, 0, 0);
  aspect-ratio: 1 / 1;
}

/* fields  */
.sub-cell {
  border: 2px solid grey;
  width: 100px;
  height: 100px;
  
}


.highlight-game {
  /* glow and flash effect */
  border: 2.5px solid rgb(129, 192, 255);
  /* animation: glow 1s ease-in-out infinite alternate; */
  box-shadow: inset 0 0 0 4px rgb(129, 192, 255); /* Weißer innerer Rahmen */
}

.highlight-whole-game {
  /* glow and flash effect */
  border: 2.5px solid rgb(129, 192, 255);
  /* animation: glow 1s ease-in-out infinite alternate; */
  box-shadow: inset 0 0 0 8px rgb(129, 192, 255); /* Weißer innerer Rahmen */
}


button {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.1em solid black;
  background-color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #e6e6e6;
}